html
    include ../partials/head.pug 
    body
        include ../partials/header.pug
        <main class="container">
            <section>
                <h2>Add a Product</h2>
                <form action="/" method="POST" onsubmit="return productEvent(this)">
                    <div class="form-group">
                        div Category: <input type="text" name="category" class="form-control">
                        div Subcategory: <input type="text" name="subcategory" class="form-control">
                        div Name: <input type="text" name="title" class="form-control">
                        div Description: <input type="text" name="description" class="form-control">
                        div Price: <input type="number" name="price" class="form-control">
                        div Stock: <input type="number" name="stock" class="form-control">
                        div Image URL: <input type="text" name="thumbnail" class="form-control">
                        <button class="btn btn-primary">Send</button>
                    </div>
                </form>
            </section>
            if successfulAdd
                div(class="alert alert-success", role="alert")= 'Product added successfully!'
            if unsuccessfulAdd
                div(class="alert alert-danger", role="alert")= 'Product could not be added: ' + addError
            <section>
                <h2>Edit Existing Product</h2>
                <form action="/edit" method="POST" onsubmit="return productEvent(this)">
                    <div class="form-group">
                        div ID: <input type="text" name="id" class="form-control">
                        div Category: <input type="text" name="category" class="form-control">
                        div Subcategory: <input type="text" name="subcategory" class="form-control">
                        div Name: <input type="text" name="title" class="form-control">
                        div Description: <input type="text" name="description" class="form-control">
                        div Price: <input type="number" name="price" class="form-control">
                        div Stock: <input type="number" name="stock" class="form-control">
                        div Image URL: <input type="text" name="thumbnail" class="form-control">
                        <button class="btn btn-primary">Send</button>
                    </div>
                </form>
            </section>
            if successfulEdit
                div(class="alert alert-success", role="alert")= 'Product edited successfully: ' + editedProduct
            if unsuccessfulEdit
                div(class="alert alert-danger", role="alert")= 'Product could not be edited: ' + editError
            section
                h2='Products'
                div(class='itemTable')
                    table(class='table' id='productTable')
                        tr
                            th(scope="col")='ID'
                            th(scope="col")='Category'
                            th(scope="col")='Subcategory'
                            th(scope="col")='Name'
                            th(scope="col")='Thumbnail'
                            th(scope="col")='Price'   
                            th(scope="col")='Stock' 
            div(class='chatContainer') 
                div(class='collapse mb-3' id='chatWidget')
                    <h2>Chat</h2>
                    <div id='messages'></div>
                    <form onsubmit="return addMessage(this)">
                        <input class="form-control" type="text" id="userEmail" placeholder="Email">
                        <input class="form-control" type="text" id="userMessage" placeholder="Your message">
                        <input class="btn btn-primary" type="submit" value="Send">
                    </form>
                <button class="btn btn-info chatToggleBtn" type="button" data-toggle="collapse" data-target="#chatWidget" aria-expanded="false" aria-controls="chatWidget">Chat
        </main>
        include ../partials/footer.pug
