html
    include ../partials/head.pug 
    <script src="/main.js" defer></script>
    body
        include ../partials/header.pug
        <main class="container">
            <h1>ISV Shop<br>Products and Services Management</h1>
            article(class='row')
                <section class='col'>
                    <h2>Add a Product</h2>
                    <form onsubmit="addProduct(event)">
                        <div class="form-group">
                            div Category: <input type="text" name="category" id="addCategory" class="form-control">
                            div Subcategory: <input type="text" name="subcategory" id="addSubcategory" class="form-control">
                            div Name: <input type="text" name="title" id="addTitle" class="form-control">
                            div Description: <input type="text" name="description" id="addDescription" class="form-control">
                            div Price: <input type="number" name="price" id="addPrice" class="form-control">
                            div Stock: <input type="number" name="stock" id="addStock" class="form-control">
                            div Image URL: <input type="text" name="thumbnail" id="addThumbnail" class="form-control">
                            <button class="btn btn-primary" onclick="(e) => {e.preventDefault()}">Send</button>
                        </div>
                    </form>
                    div(id="successfulAddWrapper")
                        div(class="alert alert-success", id="successfulAdd" ,role="alert")= 'Product added successfully!'
                    div(id="unsuccessfulAddWrapper")
                        div(class="alert alert-danger", id="unsuccessfulAdd" ,role="alert")= 'Product could not be added'
                </section>
                <section class='col'>
                    <h2>Edit Existing Product</h2>
                    <form onsubmit="editProduct(event)">
                        <div class="form-group">
                            div ID: <input type="text" name="id" id="editId" class="form-control">
                            div Category: <input type="text" name="category" id="editCategory" class="form-control">
                            div Subcategory: <input type="text" name="subcategory" id="editSubcategory" class="form-control">
                            div Name: <input type="text" name="title" id="editTitle" class="form-control">
                            div Description: <input type="text" name="description" id="editDescription" class="form-control">
                            div Price: <input type="number" name="price" id="editPrice" class="form-control">
                            div Stock: <input type="number" name="stock" id="editStock" class="form-control">
                            div Image URL: <input type="text" name="thumbnail" id="editThumbnail" class="form-control">
                            <button class="btn btn-primary" onclick="(e) => {e.preventDefault()}">Send</button>
                        </div>
                    </form>
                    div(id="successfulEditWrapper")
                        div(class="alert alert-success", id="successfulEdit" ,role="alert")= 'Product edited successfully!'
                    div(id="unsuccessfulEditWrapper")
                        div(class="alert alert-danger", id="unsuccessfulEdit" ,role="alert")= 'Product could not be edited.'
                </section>
            section
                h2='Products'
                div(class='itemTable')
                    table(class='table' id='productTable')
                        tr
                            th(scope="col")='ID'
                            th(scope="col")='Category'
                            th(scope="col")='Subcategory'
                            th(scope="col")='Name'
                            th(scope="col")='Thumbnail'
                            th(scope="col")='Price'   
                            th(scope="col")='Stock' 
            div(class='chatContainer') 
                div(class='collapse mb-3' id='chatWidget')
                    <h2>Messages</h2>
                    <div id='messages'></div>
                    <form onsubmit="return addMessage(event)">
                        <input class="form-control" type="text" id="userEmail" placeholder="Email">
                        <input class="form-control" type="text" id="userMessage" placeholder="Your message">
                        <div id='msgAlertWrapper'>
                            div(id='msgAlert')
                        </div>
                        <input class="btn btn-primary" type="submit" value="Send">
                    </form>
                <button class="btn btn-info chatToggleBtn" type="button" data-toggle="collapse" data-target="#chatWidget" aria-expanded="false" aria-controls="chatWidget">Chat
        </main>
        include ../partials/footer.pug
